*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content{
    justify-content: center;
    align-items: center;
    padding: 50%;
    width: 100%;
    h1{
        margin: 0 8rem 8rem 0;
    }
    section{
        color:blue;
    }
}