/* About Section Css: */

.about-section {
  width: 100%;
  height: 75%;

  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  top: 110%;

  margin-top: 10.5rem;
  font: size 32px;
}

.about-section header,
.about-section article {
  color: #c3c2aa;
  font-size: 2em;
  margin: 2rem;
}

.about-section header {
  color: #febc00;
}

.about-section article {
  justify-content: left;
  line-height: 1.5em;
}
