/* Main Content  */
#main-content {
  /* 
    position: relative; */
  margin-top: 4rem;
}

#name,
#lastName,
#description-dev {
  font-size: 0px;
  font-family: "Neue Montreal";

  display: flex;
  flex-direction: row;

  margin-left: 2rem;
  /* 
    justify-content: right; */
  width: 60vw;

  color: #676b67;
}

.letterElement {
  font-family: "Neue Montreal";
  font-size: 10rem;
}

/*  Skills - Container */

.skills-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.1875rem;

  position: absolute;
  left: 37.5%;
  top: 50%;
}
.skills-container ul {
  list-style: none;
}

.skills-container ul li {
  color: #c3c2aa;
  font-size: 2rem;
  text-transform: lowercase;
}
/* Coordinates */

.coordinates-container {
  font-size: 2rem;

  position: absolute;
  transform: rotateY("90deg");
  top: 50%;
  left: 100%;

  transform: rotate(90deg);
  transform-origin: left top;

  white-space: nowrap;
}

.coordinates-container span {
  color: #febc00;
}

/* cta button */

.cta-button-container {
  position: absolute;
  width: max-content;
  height: max-content;
  padding: 2rem;
  left: 70%;
  top: 75%;
  border: 2.5px solid #3ea88e;
  border-radius: 50%;
}
.cta-button-container::after {
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
@media (hover: hover) and (pointer: fine) {
  .cta-button-container:hover {
    border-color: #3ea88e;
  }
  .cta-link:hover {
    color: blanchedalmond;
  }
}

.cta-link {
  font-size: 1rem;
  text-decoration: none;
  color: #c3c2aa;
}
